<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>wbanu@nwcbggre.pbz</string>
	<key>contactName</key>
	<string>Jonah Potter</string>
	<key>description</key>
	<string>TextMate bundle for Volt. Hacked together from Ruby / ERB language grammars. Very much a WIP.</string>
	<key>name</key>
	<string>Volt</string>
	<key>uuid</key>
	<string>BEDD47D9-55DF-4230-A051-B132BD8AF66D</string>
</dict>
</plist>
